body{
	background-color: #C0C0C0;
}
#container{
	max-width: 100%;
	height: 200px;
}
#buttons{
	margin-top: 20px;
	margin-left: 100px;
}
#left{
	margin-left: 100px;
}
#right{
	margin-right: 300px;
}
#center{
	margin-left: 5px;
}
#userInput{
	margin-left: 300px;
}
#para{
	color: red;
	font-size: 160%;
}
#mainBody{
	margin-left: 400px;
	margin-top: 150px;
}
#left1{
	margin-left: 5px;
	
}